@use "../../styles/layout";
@use "../../styles/palette";
@use "../../styles/typography";

ul.resource-list {
	list-style-type: none;
	padding-left: 0;

	p,
	h3 {
		margin: 0;
	}

	li {
		border: 1px solid palette.$dark-grey;
		border-radius: layout.$border-radius;
		display: flex;
		flex-direction: column;
		padding: calc(#{layout.$baseline} * 2);
		margin: calc(#{layout.$baseline} * 2) 0;

		&.no-resources {
			border-color: palette.$mid-grey;
			color: palette.$mid-grey;
		}

		h3 {
			display: inline-block;
			font-size: calc(#{layout.$baseline} * 2);
		}

		& > * {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: calc(#{layout.$baseline} * 2);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	button {
		background-color: white;
		border: 2px solid palette.$blue;
		border-radius: layout.$border-radius;
		color: palette.$blue;
		cursor: pointer;
		font: typography.$body-text-weight
			calc(#{typography.$body-text-size} * 0.875) typography.$body-text-family;
		margin-left: layout.$baseline;

		&:hover,
		&:focus {
			background-color: palette.hover-light(palette.$blue);
		}

		&:active {
			background-color: palette.active-light(palette.$blue);
		}
	}
}
