@use "sass:color";
@import "../../styles/palette";

ul.resource-list {
	list-style-type: none;
	margin: 0 auto;
	max-width: 720px;
	padding-left: 0;

	p,
	h3 {
		margin: 0;
	}

	li {
		border: 1px solid $dark-grey;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		padding: 16px;
		margin: 16px 0;

		&.no-resources {
			border-color: $mid-grey;
			color: $mid-grey;
		}

		h3 {
			display: inline-block;
			font-size: 16px;
		}

		& > * {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	button {
		background-color: white;
		border: 2px solid $blue;
		border-radius: 5px;
		color: $blue;
		cursor: pointer;
		font:
			400 14px "Lato",
			sans-serif;
		margin-left: 8px;

		&:hover,
		&:focus {
			background-color: color.change($blue, $lightness: 95%);
		}

		&:active {
			background-color: color.change($blue, $lightness: 90%);
		}
	}
}
