@use "./styles/layout";
@use "./styles/palette";

main > article {
	padding: calc(#{layout.$baseline} * 4);

	> h2 :last-child {
		border-bottom: 2px solid palette.$red;
		display: inline-block;
		padding-bottom: calc(#{layout.$baseline} / 2);
	}

	> section {
		margin: 0 auto;
		max-width: 720px;
	}
}
