@import "./styles/palette";
@import "./styles/typography";

body {
	color: $dark-grey;
	font: $body-text;
	margin: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $heading-text-family;
		font-weight: $heading-text-weight;
	}

	.visuallyhidden {
		position: absolute;

		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;

		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}
