@use "sass:color";
@import "../../styles/layout";
@import "../../styles/palette";
@import "../../styles/typography";

button.button {
	border-radius: $border-radius;
	cursor: pointer;
	font: $body-text;
	line-height: calc($body-text-size * 1.75);
	padding: 0 calc($baseline * 4);
	min-width: 150px;

	&.primary {
		background-color: $blue;
		border: 2px solid $blue;
		color: white;

		&:hover,
		&:focus {
			background-color: color.scale($blue, $lightness: -10%);
			border-color: color.scale($blue, $lightness: -10%);
		}

		&:active {
			background-color: color.scale($blue, $lightness: -20%);
			border-color: color.scale($blue, $lightness: -20%);
		}
	}

	&.secondary {
		background-color: white;
		border: 2px solid $blue;
		color: $blue;

		&:hover,
		&:focus {
			background-color: color.change($blue, $lightness: 95%);
		}

		&:active {
			background-color: color.change($blue, $lightness: 90%);
		}
	}
}
