button.button {
	border-radius: 5px;
	cursor: pointer;
	font:
		400 16px "Lato",
		sans-serif;
	line-height: 28px;
	padding: 0 16px;
	min-width: 150px;

	&.primary {
		background-color: #2a2abc;
		border: 2px solid #2a2abc;
		color: white;

		&:hover,
		&:focus {
			background-color: #2525a9;
			border-color: #212196;
		}

		&:active {
			background-color: #263fcb;
			border-color: #263fcb;
		}
	}

	&.secondary {
		background-color: white;
		border: 2px solid #2a2abc;
		color: #2a2abc;

		&:hover,
		&:focus {
			background-color: #e9e9f8;
		}

		&:active {
			background-color: #d4d4f1;
		}
	}
}
