@use "../../styles/layout";
@use "../../styles/palette";
@use "../../styles/typography";

form.form {
	align-items: flex-end;
	display: flex;
	flex-direction: column;

	> * {
		margin-top: calc(#{layout.$baseline} * 2);
		width: 100%;

		&:last-child {
			margin-bottom: calc(#{layout.$baseline} * 2);
		}
	}

	div.buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		button:not(:first-child) {
			margin-left: calc(#{layout.$baseline} * 2);
		}
	}

	label {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input,
		select,
		textarea {
			background-color: white;
			border: 1px solid palette.$light-grey;
			border-radius: layout.$border-radius;
			box-sizing: border-box;
			font: typography.$body-text;
			margin-left: calc(#{layout.$baseline} * 2);
			padding: layout.$baseline;
			width: 75%;

			&:invalid {
				border-color: palette.$red;
			}
		}
	}

	@media (max-width: layout.$mobile) {
		div.buttons {
			justify-content: space-between;
		}

		label {
			align-items: flex-start;
			flex-direction: column;

			input,
			select,
			textarea {
				width: 100%;
				margin: layout.$baseline 0;
			}
		}
	}
}
