@import "../../styles/layout";
@import "../../styles/palette";
@import "../../styles/typography";

form.form {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 720px;

	> * {
		margin-top: calc($baseline * 2);
		width: 100%;

		&:last-child {
			margin-bottom: calc($baseline * 2);
		}
	}

	div.buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		button:not(:first-child) {
			margin-left: calc($baseline * 2);
		}
	}

	label {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input,
		select,
		textarea {
			background-color: white;
			border: 1px solid $light-grey;
			border-radius: $border-radius;
			box-sizing: border-box;
			font: $body-text;
			margin-left: calc($baseline * 2);
			padding: $baseline;
			width: 75%;

			&:invalid {
				border-color: $red;
			}
		}
	}

	@media (max-width: $mobile) {
		div.buttons {
			justify-content: space-between;
		}

		label {
			align-items: flex-start;
			flex-direction: column;

			input,
			select,
			textarea {
				width: 100%;
				margin: $baseline 0;
			}
		}
	}
}
