form.form {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	max-width: 600px;

	> * {
		margin-top: 16px;

		&:last-child {
			margin-bottom: 16px;
		}
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		input,
		select,
		textarea {
			width: 75%;
		}
	}
}

p.message {
	font-weight: bold;
	padding: 8px;

	&.success {
		background-color: palegreen;
		color: darkgreen;
	}

	&.failure {
		background-color: lightcoral;
		color: darkred;
	}
}
