@use "sass:color";
@import "../../styles/layout";
@import "../../styles/palette";

p.message {
	border-radius: $border-radius;
	font-weight: 700;
	margin: calc($baseline * 4) 0;
	padding: calc($baseline * 4);

	&.success {
		background-color: color.change($green, $lightness: 95%);
		color: color.change($green, $lightness: 30%);
	}

	&.failure {
		background-color: color.change($red, $lightness: 95%);
		color: color.change($red, $lightness: 30%);
	}
}
