@use "sass:color";
@import "../../styles/palette";

nav[aria-label="pagination"] {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	max-width: 720px;
	margin: 0 auto;
	width: 100%;

	& > ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: flex;

			&:first-child > * {
				margin-left: 0;
			}

			&:last-child > * {
				margin-right: 0;
			}

			> * {
				border-width: 2px;
				border-style: solid;
				border-radius: 5px;
				margin: 8px;
				padding: 4px 8px;
			}

			> span {
				border-color: $light-grey;
				color: $light-grey;
				cursor: not-allowed;
			}

			> a {
				border-color: $green;
				color: $green;
				text-decoration: none;

				&:hover,
				&:focus {
					background-color: color.change($green, $lightness: 95%);
				}

				&:active {
					background-color: color.change($green, $lightness: 90%);
				}

				&.active {
					background-color: $green;
					color: white;

					&:hover,
					&:focus {
						background-color: color.scale($green, $lightness: -10%);
						border-color: color.scale($green, $lightness: -10%);
					}

					&:active {
						background-color: color.scale($green, $lightness: -20%);
						border-color: color.scale($green, $lightness: -20%);
					}
				}
			}
		}
	}

	label {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-left: 16px;
		text-align: end;

		& > select {
			background-color: white;
			border: 1px solid $light-grey;
			border-radius: 5px;
			box-sizing: border-box;
			font:
				400 16px "Lato",
				sans-serif;
			margin-left: 8px;
			padding: 8px;
			width: fit-content;
		}
	}

	@media (max-width: 720px) {
		flex-direction: column;

		label {
			margin-left: 0;
			margin-top: 8px;
		}
	}
}
