@use "../../styles/layout";
@use "../../styles/palette";
@use "../../styles/typography";

nav[aria-label="pagination"] {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: 100%;

	& > ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: flex;

			&:first-child > * {
				margin-left: 0;
			}

			&:last-child > * {
				margin-right: 0;
			}

			> * {
				border-width: 2px;
				border-style: solid;
				border-radius: layout.$border-radius;
				margin: layout.$baseline;
				padding: calc(#{layout.$baseline} / 2) layout.$baseline;
			}

			> span {
				border-color: palette.$light-grey;
				color: palette.$light-grey;
				cursor: not-allowed;
				-webkit-user-select: none;
				user-select: none;
			}

			> a {
				border-color: palette.$green;
				color: palette.$green;
				text-decoration: none;

				&:hover,
				&:focus {
					background-color: palette.hover-light(palette.$green);
				}

				&:active {
					background-color: palette.active-light(palette.$green);
				}

				&.active {
					background-color: palette.$green;
					color: white;

					&:hover,
					&:focus {
						background-color: palette.hover-dark(palette.$green);
						border-color: palette.hover-dark(palette.$green);
					}

					&:active {
						background-color: palette.active-dark(palette.$green);
						border-color: palette.active-dark(palette.$green);
					}
				}
			}
		}
	}

	label {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-left: calc(#{layout.$baseline} * 2);
		text-align: end;

		& > select {
			background-color: white;
			border: 1px solid palette.$light-grey;
			border-radius: layout.$border-radius;
			box-sizing: border-box;
			font: typography.$body-text;
			margin-left: layout.$baseline;
			padding: layout.$baseline;
			width: fit-content;
		}
	}

	@media (max-width: layout.$tablet) {
		flex-direction: column;

		label {
			margin-left: 0;
			margin-top: calc(#{layout.$baseline} / 2);
		}
	}
}
