@use "../../styles/layout";
@use "../../styles/palette";
@use "../../styles/typography";

header {
	align-items: center;
	background-color: palette.$ultralight-grey;
	display: flex;
	justify-content: space-between;
	padding: 0 calc(#{layout.$baseline} * 4);

	h1 {
		margin-right: calc(#{layout.$baseline} * 4);

		a {
			align-items: center;
			color: inherit;
			display: flex;
			text-decoration: none;

			img {
				height: calc(#{layout.$baseline} * 4);
				margin-right: calc(#{layout.$baseline} / 2);
			}
		}
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		ul {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;

			&:first-child {
				justify-content: flex-start;

				li:not(:last-of-type) {
					padding-right: calc(#{layout.$baseline} * 2);
				}
			}

			&:last-child {
				justify-content: flex-end;

				li:not(:first-of-type) {
					padding-left: calc(#{layout.$baseline} * 2);
				}
			}

			li > a {
				color: inherit;
				font: typography.$heading-text-weight
					calc(#{typography.$body-text-size} * 1.125)
					typography.$heading-text-family;
				padding-bottom: calc(#{layout.$baseline} / 2);
				text-decoration: none;

				&.active,
				&:focus,
				&:hover {
					border-bottom: 2px solid palette.$red;
					color: palette.$red;
				}
			}
		}
	}

	@media (max-width: layout.$tablet) {
		align-items: flex-start;
		flex-direction: column;

		nav ul {
			padding-bottom: calc(#{layout.$baseline} * 2);
		}
	}

	@media (max-width: layout.$mobile) {
		nav {
			flex-direction: column;
		}
	}
}
