form {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	max-width: 600px;

	> * {
		margin-top: 16px;

		&:last-child {
			margin-bottom: 16px;
		}
	}

	button {
		width: 25%;
	}

	button.primary {
		background-color: #bc2a2a;
		border-radius: 5px;
		border: 2px solid #bc2a2a;
		color: white;
		cursor: pointer;
		font:
			400 16px "Lato",
			sans-serif;
		line-height: 28px;
		padding: 0;

		&:hover,
		&:focus {
			background-color: #a92525;
			border-color: #a92525;
		}

		&:active {
			background-color: #962121;
			border-color: #962121;
		}
	}

	label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		input,
		textarea {
			width: 75%;
		}
	}
}

p.success {
	background-color: palegreen;
	color: darkgreen;
	font-weight: bold;
	padding: 8px;
}
