@use "sass:color";

$red: #bc2a2a;
$green: #1f891f;
$blue: #2a2abc;

$dark-grey: #3f3f3f;
$mid-grey: color.change($dark-grey, $lightness: 40%);
$light-grey: color.change($dark-grey, $lightness: 75%);
$ultralight-grey: color.change($dark-grey, $lightness: 90%);
