$body-text-family: "Lato", sans-serif;
$body-text-size: 16px;
$body-text-weight: 400;
$body-text: $body-text-weight $body-text-size $body-text-family;

$heading-text-family: "Raleway", sans-serif;
$heading-text-weight: 700;
