name: Node.js CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: test-db
          POSTGRES_PASSWORD: opensesame
          POSTGRES_USER: admin
        ports:
          - "5432:5432"
    steps:
      - uses: actions/checkout@v3
      - run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: nvmrc
      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          node-version-file: ".nvmrc"
      - run: npm ci
      - run: npm run lint
      - run: npm run migration -- up
        env:
          DATABASE_URL: postgres://admin:opensesame@localhost:5432/test-db
      - run: npm run test
        env:
          DATABASE_URL: postgres://admin:opensesame@localhost:5432/test-db
          FORCE_COLOR: true
          SUDO_TOKEN: opensesame
      - run: npm run e2e
        env:
          CYPRESS_VIDEO: true
          DATABASE_URL: postgres://admin:opensesame@localhost:5432/test-db
          SUDO_TOKEN: opensesame
      - uses: actions/upload-artifact@v3
        with:
          if-no-files-found: ignore
          name: cypress-outputs
          path: |
            e2e/screenshots/
            e2e/videos/
  deploy:
    uses: "./.github/workflows/deploy.yml"
    if: github.ref == 'refs/heads/main'
    needs: build
    with:
      environment: heroku
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
